# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=729c4ea84cb7fb28170c155680e6694c
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7"
database_driver=pdo_pgsql
database_host=postgres
database_port=5432
database_name=integratto2
database_user=postgres
database_password=postgres
###< doctrine/doctrine-bundle ###

## Keycloak ##
keycloak_realm=DEV
keycloak_url=https://auth.dev.nasajonsistemas.com.br/auth
keycloak_client_id=erp_api
diretorio_sistema_id=297

diretorio_url=https://dir.dev.nasajonsistemas.com.br
api_key=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzaXN0ZW1hIjozMTAsInRpcG8iOiJzaXN0ZW1hIn0.OrfjG4yc43a2RuggfBENUWMTfw9wcdszKlPWWMGUJuQ