database_driver=pdo_pgsql
database_host=postgres
database_port=5432
database_name=projeto
database_user=projeto
database_password=mysecretpassword


memcached_host=memcache
memcached_port=11211

secret=8cb32b430326e4e20df873ee37cdd610e6a03991

amazon_key=
amazon_secret=
amazon_region=
amazon_account_master=

maladireta_url=https://maladireta.nasajonsistemas.com.br
diretorio_url=https://dir.nasajonsistemas.com.br
usuario_url=https://conta.nasajonsistemas.com.br
idp_url=https://login.nasajonsistemas.com.br

diretorio_sistema_id=278
api_key=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzaXN0ZW1hIjoiMjc4IiwidGlwbyI6InNpc3RlbWEifQ.M2bk-j65jiMO5iDpZAuSj9zgTpla3JHIST2yUILwVWs
entity_id=http://localhost


sp_metadata=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/idp-FederationMetadata.xml
sp_certificate_crt=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.crt
sp_certificate_pem=/var/www/html/vendor/nasajon/login-bundle/Nasajon/LoginBundle/Resources/server.pem
