/*
* APPLICATION VARIABLES
*/
$custom-color-1: #34727d;
$custom-color-2: #27616b;
$custom-color-3: #E74617;
$custom-color-4: #2d7cd0;

/*
* NASAJON UI 
*/
@import '../../node_modules/nasajon-ui/src/nasajon-ui';
@import '../../node_modules/nasajon-ui/src/theme';


/*
* Para seu próprio css descomente a linha de import abaixo e crie o arquivo referente com o nome do seu projeto
*/
/*@import 'templates/projetonome';*/
